/* Estilo da tela de agendamento.html */

body {
	background-color: #2E5575;
	font-family: Arial, sans-serif;
}
	
h1 {
	text-align: center;
	color: #fff;
}
	
.formulario-agendamento {
	margin: 0 auto;
	max-width: 31.25rem; 
	padding: 1.25rem; 
	background-color: #fff;
	border-radius: 0.625rem; 
	box-shadow: 0 0.9375rem 1.5625rem rgba(0,0,0,.6); 
}
	
label {
	display: block;
	margin-top: 0.625rem; 
}
	
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
	width: 95%;
	padding: 0.625rem; 
	margin-top: 0.3125rem; 
	margin-bottom: 0.625rem; 
	border-radius: 0.3125rem; 
	border: none;
	box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
}

input[type="submit"] {
	background-color: #008CBA;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #006D9F;
}