body {
	background-color: #2E5575;
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
}

form {
	margin: 0 auto;
	max-width: 500px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="submit"] {
	background-color: #008CBA;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #006D9F;
}
