/* Estilos gerais */

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

form {
	margin: 20px auto;
	max-width: 500px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
}

button[type="submit"] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 20px;
}

button[type="submit"]:hover {
	background-color: #45a049;
}

.error {
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	color: #721c24;
	padding: 10px;
	margin-bottom: 20px;
}

.success {
	background-color: #d4edda;
	border: 1px solid #c3e6cb;
	color: #155724;
	padding: 10px;
	margin-bottom: 20px;
}












































/* body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  /* Estilos dos inputs */
  /* .input-wrapper {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #005266;
  }
  
  /* Estilos responsivos */
  /* @media (max-width: 600px) {
    .input-wrapper {
      margin-bottom: 10px;
    }
  } */