@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/* Estilo da tela de loginCadastro.html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2E5575;
}
  
.login-box {
  background-color: black;
  padding: 0.375rem;
  width: 21.875rem;
  height: 21.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0 0 1.25rem 0 rgba(0,0,0,.6);
}
  
form {
  position: absolute;
  margin-top: 4.688rem;
  transition: 0.5s;
  width: 18.75rem;
  height: 25rem;
}
  
.buttonsForm {
  margin-top: 1.25rem;
  position: relative;
  border-radius: 1.875rem;
  box-shadow: 0 0 0.4375rem 0 blueviolet;
}
  
.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 0.625rem 1.5625rem;
  color: white;
}
  
.btnColor {
  position: absolute;
  width: 6.75rem;
  height: 100%;
  background: linear-gradient(to right, #00aafb, #a963f8);
  border-radius: 1.875rem;
  transition: 0.3s;
}
  
.divCheck {
  margin: 0.625rem 0 0 0.3125rem;
  width: 8rem;
  font-size: 0.8125rem;
  color: #aaa;
}
  
#login {
  left: 1.5625rem;
}
  
#cadastro {
  left: 28.125rem;
}

i {
  position: absolute;
  left: 0;
  padding: 0.625em; 
}

.iEmail {
  top: 2.5em; 
}

.iPassword {
  top: 7.125em; 
}

.iPassword2 {
  top: 11.875em; 
}

.login-box p:first-child {
  margin: 0 0 1.875em; 
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem; 
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box1 {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 0.625em 0; 
  font-size: 1rem; 
  color: #fff;
  margin-bottom: 1.25em; 
  border: none;
  border-bottom: 0.063em solid #fff; 
  outline: none;
  background: transparent;
}

.login-box .user-box1 input {
  width: 100%;
  padding: 0.625em 0; 
  font-size: 1rem; 
  color: #fff;
  margin-bottom: 1.25em; 
  border: none;
  border-bottom: 0.063em solid #fff; 
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625em 0; 
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -1.25em;
  left: 0;
  color: #fff;
  font-size: 0.75em;
}

.login-box .user-box1 span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box1 input:focus ~ span,
.login-box .user-box1 input:valid ~ span {
  top: -1.25em;
  left: 0;
  color: #fff;
  font-size: 0.75em;
}

/* Botao de login */

.btnLogar {
  --primary-color: #303134;
  --secondary-color: #fff;
  --hover-color: #00aafb;
  --arrow-width: 0.625em;
  --arrow-stroke: 0.125em;
  box-sizing: border-box;
  border: 0;
  border-radius: 1.25em;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  height: 3.5em;
  width: 7.5em;
  margin: 1.25em auto;
}

.btnLogar .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLogar .arrow {
  margin-top: 0.0625em;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btnLogar .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -0.1875em;
  right: 0.1875em;
  transition: 0.2s;
  padding: 0.1875em;
  transform: rotate(-45deg);
}

.btnLogar:hover {
  background-color: var(--hover-color);
}

.btnLogar:hover .arrow {
  background: var(--secondary-color);
}

.btnLogar:hover .arrow:before {
  right: 0;
}

/* Botao de cadastro */

.btnCadastrar {
  --primary-color: #303134;
  --secondary-color: #fff;
  --hover-color: #00aafb;
  --arrow-width: 0.625rem; 
  --arrow-stroke: 0.125rem; 
  box-sizing: border-box;
  border: 0;
  border-radius: 1.25rem; 
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  height: 3.125rem; 
  width: 8.75rem; 
  margin: 1.25rem auto; 
}

.btnCadastrar .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCadastrar .arrow {
  margin-top: 0.0625rem; 
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btnCadastrar .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -0.1875rem; 
  right: 0.1875rem; 
  transition: 0.2s;
  padding: 0.1875rem; 
  transform: rotate(-45deg);
}

.btnCadastrar:hover {
  background-color: var(--hover-color);
}

.btnCadastrar:hover .arrow {
  background: var(--secondary-color);
}

.btnCadastrar:hover .arrow:before {
  right: 0;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #4ac246;
  border-radius: 0.3125rem; /* converted from 5px */
}