@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');/* importação de fonts do google fonts */

/* Abaixo está a estilização da pagina index.html */

* {
    /* Resetando estilização vinda do html*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {

  scroll-behavior: smooth; /* Faz animacao do scroll no html*/
  scroll-padding-top: 100px; /* N deixa que os elementos fiquem abaixo do header*/

}

body{
  background: #2E5575;
}

header {
  background-color: #2E5575;
  box-shadow: 0px 3px 10px #464646;
  position: fixed; /* Fixa o header*/
  width: 100vw;  /* Define o header com 100% da largura do dispositivo*/
  z-index: 999; /* Posiciona o header a frente dos demais elementos*/
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Righteous', cursive;
}

.logo h1 {
  color: #fff;
}


.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

 /* lista da NavBar */

 .nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

/* Guia de Menu */

.item-menu {
  font-size: 18px;
  color: #e1e1e1;
  font-family: 'Sarala', sans-serif;;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
 
}

.item-menu:focus,
.item-menu:hover {
  color: #fff;
}

.item-menu:focus:after,
.item-menu:hover:after {
  width: 100%;
  left: 0%;
}

.item-menu:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
  transition: 1s;
 
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #fff;
  font-weight: 400;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

/* textos iniciais */

.conteudo {
  background: #2E5575;
  border-top: 0.4px solid white;
}

.conteudo-principal{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 200px; 

}

.conteudo-principal-escrito{
  display: flex;
  flex-direction: column;
  gap:32px;
 
}

.conteudo-principal-escrito-titulo{
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: white;
}

.conteudo-principal-escrito-subtitulo{
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color:white;
}

/* Imagem */

.conteudo-principal-imagem{
  /*altura da imagen*/
  display: flex;
  margin-top: 5.5em;
  width: 25%;
  justify-content: space-around;
}

/* Botao de Cadastro */

.botao {
  --primary-color: #000000;
  --secondary-color: #fff;
  --hover-color: #00aafb;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  height: 50px;
  width: 205px;
}

.botao .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botao .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.botao .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.botao:hover {
  background-color: var(--hover-color);
}

.botao:hover .arrow {
  background: var(--secondary-color);
}

.botao:hover .arrow:before {
  right: 0;
}

/* textos secundários */



.conteudo-secundario-titulo{
  padding-top: 48px; /*48px sera a distancia do titulo em relação ao border-top*/
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  color:white;
  margin-bottom: 16px;/*16px sera a distancia do titulo em relação aos paragrafos a baixo*/

}

.conteudo-secundario-paragrafo{
  max-width: 100%;
  word-wrap: break-word;
  font-family: 'Righteous', cursive;
  font-weight: 300;
  font-size: 2rem;
  color:white;
}

.elementos{
  width: 100vw;
  display: flex;
  align-items: center;
  /* border:0.4px solid white;   */
  justify-content: space-between;
  padding: 0 300px;
  margin: 0 0 100px 0;
}

.conteudo-secundario-escrito{
  width: 30vw;
  height: 25vh; 
  word-wrap: break-word;

}

.conteudo-secundario-imagem{
  width: 25vw;
  height: 25vh;
}

.mapa-responsivo{
  width: 25vw;
  height: 25vh;
  border: 1px solid black;

}

/* Rodapé */

.rodape{
    padding: 32px;
    border-top:0.4px solid white;
    background: #2E5575;
}
 
  .rodape-imagem{
    width: 200px;
    display: block;
    margin: 0 auto;
  }

  /* Criando o estilo do botão do whatsapp */
.whatsapp-link{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 999;
}

.fa-whatsapp{
  margin-top: 16px;
}

  /* Responsividade da página */

  @media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .item-menu {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .item-menu {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .item-menu button {
        width: 100%;
    }
    .open {
        display: block;
    }

   
    .conteudo-principal {
        flex-direction: column; /* para direcionar para baixo da coluna */
        margin-bottom: 50px;
    }

    .conteudo-principal-imagem{
      width: 40vw;
      height: 30vh;
    }
    .conteudo-principal-escrito-titulo{
      padding-top: 100px;
    }
    
    .botao {
      margin-left: 90px;   
     }

    .mapa-responsivo{
      order: 3;
      width: 100vw;
      flex-direction: column; /* para direcionar para baixo da coluna */
      border: 1px solid black;
    }

    .conteudo-secundario-imagem{
      order: 3;
      width: 100vw;
    }
    

    .elementos {
      flex-direction: column;
      align-items: center;
      padding: 0px 0px 0px 0px;
    }

    .conteudo-secundario-escrito{
      width: 100vw; 
      word-wrap: break-word;
    
    }
    
    .conteudo-secundario-titulo{
      order: 1;
      font-size: 2em;
    }
    .conteudo-secundario-paragrafo {
      font-size: 2em;   
    }
    .rodape-imagem{
      width: 20vw;
      display: block;
      margin: 0 auto;
    }

}

.icons {

  width: 1em;
  
}